# 3.3.0_Building a virtual assistant

In [48]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [49]:
import pandas as pd
import numpy as np

import sqlite3

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import warnings
warnings.filterwarnings("ignore")

In [50]:
import sys
sys.path.append("../") 

from utils.paths import make_dir_line

modality = 'c'
project = 'Building Chatbots in Python'
data = make_dir_line(modality, project)

raw = data('raw')

## 3.3.2 SQL basics

In [51]:
conn = sqlite3.connect(raw / 'hotels.db')
c = conn.cursor()

In [52]:
df = pd.read_sql_query('SELECT * FROM hotels', conn)
df

               name price    area  stars
0    Hotel for Dogs   mid    east      3
1  Hotel California   mid   north      3
2       Grand Hotel    hi   south      5
3      Cozy Cottage    lo   south      2
4         Ben's BnB    hi   north      4
5         The Grand    hi    west      5
6     Central Rooms   mid  center      3

In [53]:
c.execute("SELECT * FROM hotels WHERE price = 'mid' AND area = 'north'").fetchall()

[('Hotel California', 'mid', 'north', 3)]

In [54]:
c.close()

## 3.3.3 SQL statements in Python

In [55]:
# Open connection to DB
conn = sqlite3.connect(raw / 'hotels.db')

# Create a cursor
c = conn.cursor()

# Define area and price
area, price = "south", "hi"
t = (area, price)

# Execute the query
c.execute('SELECT * FROM hotels WHERE area=? AND price=?', t).fetchall()

[('Grand Hotel', 'hi', 'south', 5)]

In [56]:
c.close()

## 3.3.5 Creating queries from parameters

In [64]:
# Define find_hotels()
def find_hotels(params):
    # Create the base query
    query = 'SELECT * FROM hotels'
    # Add filter clauses for each of the parameters
    if len(params) > 0:
        filters = ["{}=?".format(k) for k in params]
        query += " WHERE " + " and ".join(filters)
    # Create the tuple of values
    t = tuple(params.values())
    
    # Open connection to DB
    conn = sqlite3.connect(raw / 'hotels.db')
    # Create a cursor
    c = conn.cursor()
    # Execute the query
    c.execute(query, t)
    # Return the results
    return c.fetchall()

## 3.3.6 Using your custom function to find hotels

In [65]:
# Create the dictionary of column names and values
params = {
    "area":"south",
    "price":"lo"
}

# Find the hotels that match the parameters
print(find_hotels(params))

[('Cozy Cottage', 'lo', 'south', 2)]

In [ ]:
print('Ok_')

Ok_