# 3.3.0_Building a virtual assistant

In [17]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [18]:
import pandas as pd
import numpy as np

import sqlite3

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import warnings
warnings.filterwarnings("ignore")

In [19]:
import sys
sys.path.append("../") 

from utils.paths import make_dir_line
from utils.info2 import sentences

modality = 'c'
project = 'Building Chatbots in Python'
data = make_dir_line(modality, project)

raw = data('raw')

## 3.3.2 SQL basics

In [42]:
conn = sqlite3.connect(raw / 'hotels.db')
c = conn.cursor()

In [43]:
df = pd.read_sql_query('SELECT * FROM hotels', conn)
df

               name price    area  stars
0    Hotel for Dogs   mid    east      3
1  Hotel California   mid   north      3
2       Grand Hotel    hi   south      5
3      Cozy Cottage    lo   south      2
4         Ben's BnB    hi   north      4
5         The Grand    hi    west      5
6     Central Rooms   mid  center      3

In [44]:
c.execute("SELECT * FROM hotels WHERE price = 'mid' AND area = 'north'").fetchall()

[('Hotel California', 'mid', 'north', 3)]

In [45]:
c.close()

In [ ]:
print('Ok_')

Ok_